@model IEnumerable<garaget_2.Models.Vehicle>

@{
    ViewBag.Title = "CheckOut";
}

<h2>Checka ut</h2>

<form method="post" action="CheckOut">

    <input type="search" name="RegNr" />
    <input type="submit" value="Sök efter RegNr" />
</form>


<br />


<table class="table">
    @foreach (var item in Model)
    {

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>

            <th></th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>

            <td>
                @Html.ActionLink("Checka ut", "Delete", new { id = item.VehicleId })
            </td>
        </tr>
    }

</table>
