@model IEnumerable<garaget_2.Models.Vehicle>

@{
    ViewBag.Title = "Search";
}

<h2>Översiktsvy</h2>
<p>@Html.ActionLink("Gå till detaljerad översiktsvy", "search")</p>
<h3>Ange söksträng</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Sök" />
    </p>
}


<br />



<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.VehicleTypeId).ToString()), "Search", new { sortOrder = ViewBag.VehicleTypeSortParm, searchString = ViewBag.searchString })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.RegNr).ToString()), "Search", new { sortOrder = ViewBag.RegNRSortParm, searchString = ViewBag.searchString })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.MemberId).ToString()), "Search", new { sortOrder = ViewBag.MemberSortParm, searchString = ViewBag.searchString })
        </th>

        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FullName)
            </td>

            <td>
                @Html.ActionLink("Detaljer", "Details", new { id = item.VehicleId })
            </td>
            <td>
                @Html.ActionLink("Checka ut", "Delete", new { id = item.VehicleId })
            </td>
        </tr>
    }

</table>
