@model IEnumerable<garaget_2.Models.Vehicle>

@{
    ViewBag.Title = "MemberOwnedVehicles";
}

<h2>Välj fordon att checka ut</h2>
<br />
<h4>
   @ViewBag.Member.FullName 
</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand) och @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.ActionLink("Checka ut", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
