@model garaget_2.Models.Vehicle

@{
    ViewBag.Title = "Receipt";
}

<h2>Kvitto på parkering</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6 rubrik">
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.VehicleType.VehicleTypeName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 rubrik">
            @Html.DisplayNameFor(model => model.RegNr)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.RegNr)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 rubrik">
            @Html.DisplayNameFor(model => model.Brand)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 rubrik">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.CheckInTime)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 rubrik">
            Total parkeringstid
        </div>
        <div class="col-md-6">
            @DateTime.Now.Subtract(Model.CheckInTime).Hours tim @DateTime.Now.Subtract(Model.CheckInTime).Minutes min
        </div>
    </div>
</div>

<br />
<p>
    @Html.ActionLink("Skriv ut kvitto", "GeneratePDF", Model) |
    @Html.ActionLink("Startsidan", "Index", "Home")
</p>

