@model IEnumerable<garaget_2.Models.Vehicle>

@{
    ViewBag.Title = "Search";
}


<h2>Detaljerad översiktsvy</h2>

<h3>Ange söksträng</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Sök" />
    </p>
}

<h3>@Html.ActionLink("Gå till Översiktsvy", "index")</h3>
<br />


<table class="table">
        <tr>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.VehicleTypeId).ToString()), "Search", new { sortOrder = ViewBag.VehicleTypeSortParm, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.RegNr).ToString()), "Search", new { sortOrder = ViewBag.RegNRSortParm, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Color).ToString()), "Search", new { sortOrder = ViewBag.ColorSortParm, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Brand).ToString()), "Search", new { sortOrder = ViewBag.BrandSortParm, searchString = ViewBag.searchString })             
            </th>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Model).ToString()), "Search", new { sortOrder = ViewBag.ModelSortParm, searchString = ViewBag.searchString })
            </th>

            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.NrOfWheels).ToString()), "Search", new { sortOrder = ViewBag.NrOfWheelsSortParm, searchString = ViewBag.searchString })
            </th>

            <th>
               @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.MemberId).ToString()), "Search", new { sortOrder = ViewBag.MemberSortParm, searchString = ViewBag.searchString })
             </th>
            <th>
                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.CheckInTime).ToString()), "Search", new { sortOrder = ViewBag.CheckInTimeSortParm, searchString = ViewBag.searchString })
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrOfWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.ActionLink("Detaljer", "Details", new { id = item.VehicleId }) 
                </td>
                <td>
                    @Html.ActionLink("Checka ut", "Delete", new { id = item.VehicleId })
                </td>
            </tr>
}
    
    </table>
