@model IEnumerable<garaget_2.Models.Member>

@{
    ViewBag.Title = "Index";
}



<h2>Medlemslista</h2>

<p>
    @Html.ActionLink("Lägg till en ny medlem", "Create")
</p>


<h3>Ange söksträng</h3>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Sök" />
    </p>
}


<br />


<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.FullName).ToString()), "index", new { sortOrder = ViewBag.FullNameSortParm, searchString = ViewBag.searchString })
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>  
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Address).ToString()), "index", new { sortOrder = ViewBag.AddressSortParm, searchString = ViewBag.searchString })
            @*@Html.DisplayNameFor(model => model.Address)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.MemberId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.MemberId }) |
            @Html.ActionLink("Ta bort medlem", "Delete", new { id=item.MemberId }) |
            @Html.ActionLink("Checka in fordon", "Create", "Vehicles", new { id = item.MemberId }, null) |
            @Html.ActionLink("Checka ut fordon", "MemberOwnedVehicles", "Vehicles", new { id = item.MemberId }, null)
        </td>
    </tr>
}

</table>
